/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Ubuntu Mono', monospace;
    background-color: #c9ebc9;
    color: white;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.2em;
}

h4{
    margin-top: 0.3em;
}

.container {
    margin-top: 10vh;
    margin-right: 10vw;
    margin-left: 10vw;
    /* border: 5px solid white; */
    border-radius: 5px;
    display: grid;
    grid-template-columns: 20vw 60vw;
    grid-template-rows: 0.5fr 0.5fr 60vh;
    grid-template-areas: 
       "a a"
       "b d"
       "c e"; 
    overflow: hidden;
    opacity: 1;
    position: absolute;
}

#header{
    grid-area: a;
    background-color: #ff7096;
    padding-left: 1em;
}
p, li {
    line-height: 1.5em;
}
#side{
    grid-area: b;
    background-color: #8280e9 ;
    padding-left: 1em;
}
#explorer{
    grid-area: c;
    background-color: #b0c0e4;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#inspo_title, #tutorials_title, #homework_title{
    grid-area: d;
    background-color: #ffd970;
    padding-left: 1em;
}
#inspo, #tutorials, #homework{
    grid-area: e;
    background-color: #ffffb1;
    padding-left: 1em;
    overflow-y: scroll;
}

.hidden{
    display: none;
}

button{
    border: white solid 2px;
    background-color: transparent;
    color: white;
    border-radius: 12px;
    margin-bottom: 1em;
}

button:hover{
    opacity: 0.5;
}

.dot-button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    border: none;
    text-align: center;
    text-decoration: none;
  }


.cards {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 50%;
    padding: 10px;
}


.card > div:hover {
    border: solid 1px black;
}

.card:hover .image-div {
    opacity: 0.8;
}

.card:hover .caption {
    color: black;
}

.card > div {
    border: solid 1px lightgrey;
    padding: 10px;
    border-radius: 5px;
}

.image-div{
    background-size: cover;
    width: 100%;
    height: 250px;
    
}
iframe{
    overflow: hidden;
}
@media screen and (max-width: 900px) {
    /* Mobile styles go here */
    .card {
        width: 100%;

    }

    .image-div{
        height: 450px;
    }

}